<template lang="pug">
a.c-button
  slot
</template>
<style>
.c-button {
position: relative;
border-width: 3px;
border-radius: 2px;
border-color: rgba(250,202,48,1);
border-color: black;
border-style: double !important;
background: rgb(250,202,48);
background: radial-gradient(circle, rgba(250,202,48,1) 0%, rgba(253,172,42,1) 100%);
display: inline-block;
transition-property: box-shadow, border-width;
transition-duration: 0.4s, 1s;
box-shadow: 0 -2px 1px rgba(250,202,48,0), 0 -2px 1px rgba(250,202,48,0);
}
.c-button:hover {
  box-shadow: -10px -2px 15px rgba(250,202,48,0.5), 10px -2px 15px rgba(250,202,48,0.5);
}

.c-button.is-selected {
  border-width: 6px;
  border-radius: 4px;
  border-color: black;
  z-index: 1;
}
.c-button::after {
  position: absolute;
  content: '';
  top: 1em;
  z-index: 0;
  transition: top 1s;
}
.c-button.is-selected::after {
  position: absolute;
  content: '';
  top: -1em;
  height: 0.5em;
  width: 0.5em;
  left: calc(50% - 0.175em);
  border-radius: 50%;
  border: 4px double rgba(253,172,42,1);
}
</style>
<script>
export default {

}
</script>
