<template lang="pug">
.c-golder-border.relative(:class="sun ? 'has-sun' : ''")
  .c-golder-border__angles-top
  slot
  .c-golder-border__angles-bottom
</template>

<style>
.c-golder-border {
  border: 3px solid black;
  background-color: #fff9ee;
}
.c-golder-border {
  border: 3px solid black;
  background-color: #f9f9ea;
}
.c-golder-border {
  border: 3px solid #fdac2a;
  background-color: #f9f9ea;
  background: url(~/public/img/motif-floral-vintage-4.jpg) repeat;
  background-size: 13.8rem;
}
.c-golder-border__angles-top::before,
.c-golder-border__angles-top::after,
.c-golder-border__angles-bottom::before,
.c-golder-border__angles-bottom::after
{
  background: url(~/public/img/angle.png) no-repeat;
  background-size: 3rem;
  height: 3rem;
  width: 3rem;
  content: '';
  display: block;
  position: absolute;
}
.c-golder-border::before,
.c-golder-border::after {
  height: 3rem;
  width: 3rem;
  content: '';
  display: block;
  position: absolute;
}

.c-golder-border.has-sun::before,
.c-golder-border.has-sun::after {
  background: url(~/public/img/center.png) no-repeat;
  background-size: 10rem;
  background-position-x: center;
  left: 0;
  width: 100%;
}
.c-golder-border::before {
  top: -2.15rem;
}
.c-golder-border::after {
  bottom: -2.15rem;
  transform: rotate(180deg);
}
.c-golder-border__angles-top::before {
  transform: rotate(90deg);
  top: -3px;
  left: -3px;
}
.c-golder-border__angles-top::after {
  transform: rotate(180deg);
  top: -3px;
  right: -3px;
}
.c-golder-border__angles-bottom::before {
  bottom: -3px;
  left: -3px
}
.c-golder-border__angles-bottom::after {
  transform: rotate(-90deg);
  right: -3px;
  bottom: -3px;
}
</style>

<script lang="ts">
export default {
  props: {
    sun: {
      type: Boolean,
      default: false
    }
  }
}
</script>
