<template lang="pug">
nav.c-navbar.px-6.font-title.flex.flex-row.items-center.justify-evenly.py-2.flex.flex-wrap.gap-2
    NuxtLink(to="/") Acceuil
    NuxtLink(to="/evenements") Événements
    NuxtLink(to="/assemblees-ludiques") Assemblées ludiques
    NuxtLink(to="/ludotech") Ludotech
    NuxtLink(to="/benevole") Bénévole
</template>

<style>
.c-navbar {
    min-height: 3.6em; /* prevent page of moving while border of active link is getting thiker */
}

.c-navbar a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    position: relative;
    border-width: 3px;
    border-radius: 2px;
    border-color: rgba(250,202,48,1);
    border-color: black;
    border-style: double !important;
    background: rgb(250,202,48);
    background: radial-gradient(circle, rgba(250,202,48,1) 0%, rgba(253,172,42,1) 100%);
    display: inline-block;
    transition-property: box-shadow, border-width;
    transition-duration: 0.4s, 1s;
    box-shadow: 0 -2px 1px rgba(250,202,48,0), 0 -2px 1px rgba(250,202,48,0);
    z-index: 1;
}
.c-navbar a:hover {
    box-shadow: -10px -2px 15px rgba(250,202,48,0.5), 10px -2px 15px rgba(250,202,48,0.5);
}
.c-navbar a.router-link-exact-active {
    border-width: 6px;
    border-radius: 4px;
    border-color: black;
}
</style>

<script setup>
import { CButton } from '#components'
</script>
