<template lang="pug">
.container
  main.flex.gap-2
    section.container
      GolderBorder(sun)
        img(src="~/public/img/TEJ-22.png" alt="Tous en jeux du 28 au 30 octobre 2022 à la salle des fete de saint-affrique. Vendredi 14h à minuit, samedi 10h à minuit, dimanche 10h à 19h. 9ème festival.")
    section.container
      GolderBorder.p-8.flex-grow
        h2.font-title.text-2xl.flex.justify-center La Bourse aux jouets
        p Toutes les personnes désirant vendre des jouets d'occasions peuvent les déposer de 9h à 13h à la Salle Jean Moulin à St-Affrique.<br>
        p ! Important ! <br> Si vous souhaitez fixer vos prix ; venez avec la liste détaillée des articles et de leurs prix !<br>Tous les articles doivent être propres, complets, en bon état et munis de piles si besoin.<br>Seront refusés les articles de puériculture volumineux (parc ; transat ; poussette...)<br>D'ores et déjà vous pouvez mettre les petites pièces en poches plastiques transparentes. L'enregistrement en sera facilité.<br>Le nombre de peluche est limité à 10.<br>
</template>
