<template lang="pug">
.l-default.flex.flex-col.justify-center.items-center.p-4
    LogoBanner
    Navbar.mb-10
    slot
    Footer
</template>

<style>
.l-default {
    background: url(~/public/img/background-geometrique.png) repeat;
    background-size: 13.8rem;
}
</style>

<script setup>
import '@/assets/css/tailwind.css'
import { Navbar, LogoBanner, Footer, GolderBorder } from '#components'
</script>
